## content from makestuff
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
org
tech
ICI3D
research
web
Talks
3SS
DataViz
Dropbox
earn
Workshops
coronavirus
1M
staging
shi
git_push
park
planning
admin
ici3d
cygu
Sandbox
outbreak
rabies
projects
3SS_top
legacy
makestuff
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
org
Talks
ICI3D
3SS
web
research
tech
outbreak
admin
git_push
earn
shi
DataViz
ici3d
1M
staging
cygu
projects
3SS_top
Dropbox
planning
Workshops
Sandbox
legacy
rabies
coronavirus
park
makestuff
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
org
708
tech
ICI3D
web
3SS
research
Talks
makestuff
admin
earn
ici3d
outbreak
coronavirus
shi
Dropbox
staging
3SS_top
legacy
Sandbox
DataViz
1M
park
Workshops
projects
git_push
planning
cygu
rabies
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
org
708
tech
ICI3D
web
3SS
research
Talks
makestuff
admin
earn
ici3d
outbreak
coronavirus
shi
Dropbox
staging
3SS_top
legacy
Sandbox
DataViz
1M
park
Workshops
projects
git_push
planning
cygu
rabies
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
gh-pages
makestuff
*.ld.tex
jekyll.log
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.rdeps
*~
*_cache/
*_files/
private/
.gitignore