commit.time
commit.default
.*.sw*
*~
.#*
\#*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.Rlog
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
pages/
QMEE_2017/

cache/
figure/
qmee_private/
