## content from makestuff
target.mk
resources
arrive.log
leave.log
leavetest.log
space.time
hot/VPD-Immunity-Estimation/
dirs
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
*.mirror
*.puttime
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
target.mk
resources
arrive.log
leave.log
leavetest.log
space.time
hot/VPD-Immunity-Estimation/
dirs
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
*.mirror
*.puttime
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
tmp/
childsAll/
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
*.mirror
resources
*.puttime
cleaning.pdf
index.html
admin
topics
lectures
tips
assignments
dateup.time
data
code
docs/legacy
gh-pages
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
local.mk
target.mk
make.log
go.log
tmp.scr
dump.txt
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
