/* Started from http://pandoc.org/demo/pandoc.css */

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 66em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}

h1, h2, h3, h4, h5 { font-family: verdana;
	font-weight: bold;
	border-bottom: 1px dotted black;
	color: #006666; }

h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
        text-align: center;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 100%;
        color: gray;
        text-align: center;
		  margin-bottom: 2ex;
        }
